#chessboard {
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(8, 57.2px);
    grid-template-rows: repeat(8, 57.2px);
    width: 458px;
    height: 457.7px;
    background-color: rgb(255, 255, 255);
}

.chessboardWrapper {
    display: flex;
    flex-direction: column;
}

.chessboard-board {
    width: 498px;
    height: 497.7px;
    background-color: #57340b;
}

.modal {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 100;
    height: 550px;
    width: 800px;
}

.modal.hidden {
    display: none;
}

.modal > .modal-body {
    position: absolute;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 800px;
    background-color: rgba(127, 127, 127, 0.8);
}

.modal > .modal-body > img {
    height: 80px;
    padding: 20px;
    border-radius: 50%;
}

.modal > .modal-body > img:hover {
    background-color: rgba(255, 0, 0, 0.3);
    cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.modal > .modal-body > .checkmate-body > span {
    font-size: 32px;
}

.modal > .modal-body > .checkmate-body > button {
    border: none;
    border-radius: 8px;
    padding: 24px 48px;
    font-size: 32px;
    color: white;
}

.modal > .modal-body > .checkmate-body > button:hover {
    cursor: pointer;
}

.turn {
    font-family: 'Open Sans', sans-serif;font-size: 20px;font-weight: normal;color: #282323;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    width: 200px;
}

.lives {

    font-family: 'Open Sans', sans-serif;font-size: 20px;font-weight: normal;color: #282323;
    align-self: center;
    text-align: center;
    margin-top: 11px;
    width: 200px;
}

.task-name {
    margin-bottom: 11px;
    font-family: 'Open Sans', sans-serif;font-size: 30px;font-weight: bold;color: #AB2A3B;
    align-self: center;
    text-align: center;
}

.task-description {
    margin-bottom: 47px;
    font-family: 'Open Sans', sans-serif;font-size: 30px;font-weight: normal;color: #282323;
    align-self: center;
    text-align: center;
}

.move_symbol {
    margin-right: 8px;
    position: relative;
    top: 5px;
}

.lives span {
    font-size: 26px;font-weight: semibold;color: #AB2A3B;
    position: relative;
    top:3px
}

@media screen and (max-width: 1200px) {
    #chessboard {
        margin-top: 20px;
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(8, 35px);
        grid-template-rows: repeat(8, 35px);
        width: 280px;
        height: 280px;
        background-color: rgb(255, 255, 255);
    }
    
    .chessboardWrapper {
        display: flex;
        flex-direction: column;
    }
    
    .chessboard-board {
        width: 320px;
        height: 320px;
        background-color: #57340b;
    }
    
    .modal {
        position: absolute;
        top: 45%;
        left: 10%;
        z-index: 100;
        height: 280px;
        width: 280px;
    }
    
    .modal.hidden {
        display: none;
    }
    
    .modal > .modal-body {
        position: absolute;
        top: 5%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 150px;
        width: 280px;
        background-color: rgba(127, 127, 127, 0.8);
    }
    
    .modal > .modal-body > img {
        height: 40px;
        padding: 10px;
        border-radius: 50%;
    }
    
    .modal > .modal-body > img:hover {
        background-color: rgba(255, 0, 0, 0.3);
        cursor: pointer;
    }
    
    .modal > .modal-body > .checkmate-body {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    
    .modal > .modal-body > .checkmate-body > span {
        font-size: 32px;
    }
    
    .modal > .modal-body > .checkmate-body > button {
        border: none;
        border-radius: 8px;
        padding: 24px 48px;
        font-size: 32px;
        color: white;
    }
    
    .modal > .modal-body > .checkmate-body > button:hover {
        cursor: pointer;
    }
    
    .turn {
        font-family: 'Open Sans', sans-serif;font-size: 15px;font-weight: normal;color: #282323;
        align-self: center;
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }
    
    .lives {
    
        font-family: 'Open Sans', sans-serif;font-size: 15px;font-weight: normal;color: #282323;
        align-self: center;
        text-align: center;
        margin-top: 11px;
        width: 100%;

    }
    
    .task-name {
        margin-bottom: 0;
        font-family: 'Open Sans', sans-serif;font-size: 20px;font-weight: bold;color: #AB2A3B;
        align-self: center;
        text-align: center;
    }
    
    .task-description {
        margin-bottom: 20px;
        font-family: 'Open Sans', sans-serif;font-size: 20px;font-weight: normal;color: #282323;
        align-self: center;
        text-align: center;
    }
    
    .move_symbol {
        margin-right: 8px;
        width: 15px;
        position: relative;
        top: 5px;
    }
    
    .lives span {
        font-size: 18px;font-weight: semibold;color: #AB2A3B;
        position: relative;
        top: 1px;
    }
}