.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 87px;
    border-bottom: 1px solid #AB2A3B;
    background-color: #FFFFFF;
}

.headerImg {
    width: 56px;
    margin-right: 3%;
    z-index: 0;
    -webkit-user-drag: none;
}

.allCourse {
    width: 80px;
    height: 22px;
    font-family: 'Open Sans';font-size: 16px;font-weight: 550;color: #000000;
    margin-right: 3%;
    -webkit-user-drag: none;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 35px;
    background-color: #AB2A3B;
    font-family: 'Open Sans';font-size: 16px;font-weight: 550;color: #FFFFFF!important;
    border-radius: 30px;
    margin-right: 3%;
    -webkit-user-drag: none;
}

.search {
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    width: 293px;
    height: 35px;
    border: 1px solid #AB2A3B;
    margin-right: 10%;
    -webkit-user-drag: none;
}

.sHidden {
    visibility: hidden;
}

.loop {
    position: relative;
    left: 15px;
    width: 16px;
    height: 16px;
    -webkit-user-drag: none;
}

.searchBar {
    position: relative;
    padding-left: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: 'Open Sans';font-size: 16px;font-weight: 400;
    -webkit-user-drag: none;
}

.searchBar:focus {
    outline: none !important;
    border: none;
}

.poisk {
    background-color: transparent;
    border: none;
    margin-right: 25px;
    width: 50px;
    height: 30px;
    font-family: 'Open Sans';font-size: 16px;font-weight: 550;color: #AB2A3B;
    -webkit-user-drag: none;
}

.reg {
    font-family: 'Open Sans';font-size: 16px;font-weight: 550;color: #AB2A3B;
    -webkit-user-drag: none;
}

.login {
    font-family: 'Open Sans';font-size: 16px;font-weight: 550;color: #AB2A3B;
    -webkit-user-drag: none;
    margin-left: 2%;
}

.header-profile {
    margin-left: 325px;
    -webkit-user-drag: none;
}

.lang {
    font-family: 'Open Sans';font-size: 16px;font-weight: 550;color: #AB2A3B;
    -webkit-user-drag: none;
    margin-left: 3%;
}

.header a {
    -webkit-user-drag: none;
    text-decoration: none;
    color: #AB2A3B;
}

.subscribe a {
    -webkit-user-drag: none;
    color: #FFFFFF;
}