#panel {
    display: flex;
    width: 840px;
    height: 786px;
    margin-top: 100px;
    margin-left: 228px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px 3px rgba(71, 71, 71, 0.212);
    border-radius: 4%;
}

#referee {
    height: 58.5%;
    margin-left: 22.73%;
    margin-top: 20.8%;
}

#task-name {
    height: 0%;
    font-family: 'Open Sans';font-size: 30px;font-weight: bold;color: #AB2A3B;
    margin-left: 370px;
    margin-top: 50px;
    position: absolute;
}

#task-description {
    height: 0%;
    font-family: 'Open Sans';font-size: 30px;font-weight: normal;color: #282323;
    margin-left: 280px;
    margin-top: 100px;
    position: absolute;
}